<h1>Users</h1>
<div>
  <%= form_tag(projects_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
</div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Last Name</th>
    <th>Nickname</th>
    <th>Phone Number</th>
    <th>User Type</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.nickname %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.user_type %></td>
      <td><%= image_tag user.avatar.url, :size => "100x100"%></td>
      <td><%= link_to 'Show', user_show_profile_path %></td>
      <td><%= link_to 'Destroy', user_registration_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>