<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :approved_by %>
    <%= form.number_field :approved_by, id: :project_approved_by %>
  </div>

  <div class="field">
    <%= form.label :money_goal %>
    <%= form.number_field :money_goal, id: :project_money_goal %>
  </div>

  <div class="field">
    <%= form.label :finish_date %>
    <%= form.datetime_select :finish_date, id: :project_finish_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, :cols => "100", :rows => "100", id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :approved %>
    <%= form.check_box :approved, id: :project_approved %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :project_rating %>
  </div>

  <div class="field">
    <%= form.label :founded %>
    <%= form.check_box :founded, id: :project_founded %>
  </div>

  <div class="field">
    <%= form.label :foundation_date %>
    <%= form.datetime_select :foundation_date, id: :project_foundation_date %>
  </div>

  <div class="field">
    <%= form.label :approval_date %>
    <%= form.datetime_select :approval_date, id: :project_approval_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
