<% content_for :javascript_includes do %>
  <%= javascript_include_tag "project_index.js" %>
<% end %>
<p id="notice"><%= notice %></p>

<h1>Projects</h1>
<div>
  <%= form_tag(projects_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Approved by</th>
      <th>Money goal</th>
      <th>Finish date</th>
      <th>Approved</th>
      <th>Rating</th>
      <th>Founded</th>
      <th>Foundation date</th>
      <th>Approval date</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.approved_by %></td>
        <td><%= project.money_goal %></td>
        <td><%= project.finish_date %></td>
        <td><%= project.approved %></td>
        <td><%= project.rating %></td>
        <td><%= project.founded %></td>
        <td><%= project.foundation_date %></td>
        <td><%= project.approval_date %></td>
        <td><%= image_tag project.main_image.url, :size => "100x100"%></td>
        <td><%= link_to 'Show', project %></td>
        <% if project.creators.include?(current_user) %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><label>Fund Amount</label><br/><input class="fund-amount" type="number"/></td> 
          <td><button class="fund-btn" data-project= <%= project.id %> data-user= <%= current_user.id %>>Fund Now!</button>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Project', new_project_path %>


