<p id="notice"><%= notice %></p>

<p>
  <strong>Approved by:</strong>
  <%= @project.approved_by %>
</p>

<p>
  <strong>Money goal:</strong>
  <%= @project.money_goal %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @project.finish_date %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @project.approved %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @project.rating %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @project.founded %>
</p>

<p>
  <strong>Foundation date:</strong>
  <%= @project.foundation_date %>
</p>

<p>
  <strong>Approval date:</strong>
  <%= @project.approval_date %>
</p>
<p>
  <%= image_tag @project.main_image.url(:thumb) %>
</p>

<!--<p>-->
<!--  <strong>Categories: </strong>-->
  <%# @categorize.each do |c| %>
  <%#= c.name %>
  <%# end %>
<!--</p>-->
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
