<p id="notice"><%= notice %></p>
<h1><%= @project.name %> </h1>
<p>
  <strong>Current Money:</strong>
  <% amount = 0 %>
  <% @project.project_backers.each { |backer| amount += backer.amount_invested }%>
  <% @project.promises.each { |promise| promise.promise_buyers.each { amount += promise.price } }%>
  <%= amount %>
</p>

<p>
  <strong>Money goal:</strong>
  <%= @project.money_goal %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @project.finish_date %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @project.approved %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @project.rating %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @project.founded %>
</p>

<p>
  <strong>Foundation date:</strong>
  <%= @project.foundation_date %>
</p>

<p>
  <strong>Approval date:</strong>
  <%= @project.approval_date %>
</p>
<p>
  <%= image_tag @project.main_image.url(:thumb) %>
</p>
<%= button_to 'Promises', project_promises_path(@project), method: :get %> |
<%if @project.creators.include?(current_user) %>

<!--<p>-->
<!--  <strong>Categories: </strong>-->
  <%# @categorize.each do |c| %>
  <%#= c.name %>
  <%# end %>
<!--</p>-->
<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
