<!DOCTYPE html>
<html>
      <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <head>
    <title>MultitudeFunding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" class="bootstrap" type="text/css" href="./app/assets/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" class="bootstrap-grid" type="text/css" href="./app/assets/stylesheets/bootstrap-grid.css"/>
    <link rel="stylesheet" class="bootstrap-reboot" type="text/css" href="./app/assets/stylesheets/bootstrap-reboot.css"/>
  </head>

  <body>
    <% link_to "Home", root_path %>
    <% link_to "Profile", root_path %>
    <% link_to "Promises", root_path %>
    <% link_to "", root_path %>
    <% link_to "Home", root_path %>
    <%= yield %>
  </body>
</html>
