<!DOCTYPE html>
<html>
  <head>
    <title>MultitudeFunding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<%= link_to 'Multitude Funding', root_path, :class => 'navbar-brand' %>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<% if user_signed_in? %>
						<% if current_user.user_type == "admin" %>
							<li><%= link_to('Projects', projects_path) %></li>
							<li><%= link_to('Users', projects_path) %></li>
							<li><%= link_to('Categories', projects_path) %></li>
						<% else %>
							<li><%= link_to('Projects', projects_path) %></li>
							<li><%= link_to('Owned Projects', user_show_owned_path) %></li>
							<li><%= link_to('Backed Projects', user_show_owned_path) %></li>
						<% end %>
					<% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<li>
							<%= link_to edit_user_registration_path do %>
								<%= current_user.nickname %>
							<% end %>
						</li>
						<li><%= link_to current_user.nickname, edit_user_registration_path %></li>
						<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
					<% else %>
						<li><%= link_to('Sign in', new_user_session_path) %></li>
						<li><%= link_to('Sign up', new_user_registration_path) %></li>
					<% end %>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->

	</nav>

    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
