<% content_for :javascript_includes do %>
  <%= javascript_include_tag "promise_index.js" %>
<% end %>

<p id="notice"><%= notice %></p>

<h1><%= @promise.name %></h1>

<p>
  <strong>Project:</strong>
  <%= @promise.project.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @promise.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promise.description %>
</p>
	<%unless @promise.project.creators.include?(current_user) %>
    <p>
    <tr>
      <td><button class="buy-btn" data-promise= <%= @promise.id %> data-user= <%= current_user.id %>>Buy!</button></td>
    </tr>
</p>
  <% end %>

<% if @promise.project.creators.include?(current_user) %>
	<%= link_to 'Edit', edit_project_promise_path(@promise) %> |
<% end %>
<%= link_to 'Back', project_promises_path %>
